.vditor-container {
  margin: 20px 10px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;

  .dark-theme .vditor-anchor svg path {
    fill: #fff !important;
  }
}
